<!doctype html>
<form method="post">
    <label for="ticker">代码</label>
    <input name="ticker" id="ticker" required>
    <label for="period">周期</label>
    <input name="period" id="period" required>
    <label for="valuationMethod">估值方法</label>
    <input name="valuationMethod" id="valuationMethod" required>
    <label for="valuationStage">估值阶段</label>
    <input name="valuationStage" id="valuationStage" required>
    <label for="growthHorizon">成长期限</label>
    <input name="growthHorizon" id="growthHorizon" required>
    <label for="valuationHorizon">估值期限</label>
    <input name="valuationHorizon" id="valuationHorizon" required>
    <label for="date">估值日期</label>
    <input type="date" name="date" id="date" required>
    <input type="submit" value="submit">
</form>
<!-- {% for item in data %}
    <article>
      <header>
        <div>
            <h1>{{ item['priceEarningsRatio'] }}</h1>
            <h1>{{ item['priceSalesRatio'] }}</h1>
            <h1>{{ item['priceToBookRatio'] }}</h1>
        </div>
      </header>
    </article>
{% endfor %} -->
{% if FV is defined %}
  {% if error %}
      <h1>Please see follow error: {{error}}</h1>

  {% else %}
    <article>
      <header>
        <div>
            <h1>估值方法是 {{ valuationMethod }}</h1>
            <h1>估值阶段是 {{ valuationStage }}</h1>
            <h1>估值启示数值是 {{ startValue }}</h1>
            <h1>估值期限是 {{ valuationHorizon }}</h1>
            <h1>成长期限是 {{ growthHorizon }}</h1>
            <h1>第一阶段成长速度{{ firstStageGrowth }}</h1>
            <h1>第二阶段成长速度{{ secondStageGrowth }}</h1>
            <h1>长期成长速度{{ LTGrowth }}</h1>
            <h1>要求折现率{{ RR }}</h1>
            <h1>公允价值{{ FV }}</h1>
        </div>
      </header>
    </article>
  {% endif %}
{% else %}
{% endif %}

<form method="post">
  <label for="ticker">代码</label>
  <input name="ticker" id="ticker" required>
  <label for="period">周期</label>
  <input name="period" id="period" required>
  <label for="valuationMethod">估值方法</label>
  <input name="valuationMethod" id="valuationMethod" required>
  <label for="valuationStage">估值阶段</label>
  <input name="valuationStage" id="valuationStage" required>
  <label for="growthHorizon">成长期限</label>
  <input name="growthHorizon" id="growthHorizon" required>
  <label for="valuationHorizon">估值期限</label>
  <input name="valuationHorizon" id="valuationHorizon" required>
  <label for="date">估值日期</label>
  <input type="date" name="date" id="date" required>
  <input type="submit" value="submit">
</form>
